
    <head>
        <title>Connexion | MiniBiblio</title>
    </head>
    <div class="bg"></div>
    <body class="centered">
	        <form  class="root centered" (submit)="onSubmit()">

	            <div class="titre centered">
	            	<div><img src="assets/logo.ico"></div>
	            	<div><h2>Connexion a MiniBiblio</h2></div>
	            </div>
	            <table>
	                <tr *ngIf="incorrect"><span class="alert" >entree invalide</span></tr>
	            </table>
	                <div class="saisie centered">
	                    <div class="centered">
	                    	<div class="img_phone"><mat-icon>phone</mat-icon></div>
	                    	<div><label for="tel" >Telephone</label></div>
	                    </div>
	                    <div>
	                    	<input id="tel" name="tel" type=number placeholder="6 ** ** ** **" [(ngModel)]="utilisateur.id" maxlength=12 />
	                    </div>
	                </div>
	            
	            <div *ngIf="isconnecting" style="width: 60px;height: 60px;"><mat-spinner style="width:100%"></mat-spinner></div>
	            <div><input type="submit" value="Connexion" class="butConnexion"></div>
	        </form>
    </body>