body {
    background-color: rgb(0, 0, 0, 0);
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.root {
    background: #FFFFFF;
	box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	flex-direction : column;
	
	display: flex;
	align-items: center;
    justify-content: flex-start;
    padding:10px;
    margin-bottom: 150px;
    min-height: 300px;
    width: 400px;
}
@media screen and (max-width:600px) {
	.root {
		width: 100%;
		min-height: fit-content;
	}
}
.saisie {
	flex-wrap: wrap;
	margin-bottom: 30px; 
}
.titre {
	text-align: center;
	width : 60%;
	font-family : 'Kreon'
}
table,tr,td {
	border: none;
}
td {
	padding : 10px;
}
label {
	font-family : 'Arial'/*'Open Sans'*/
}

.lien {
	text-align: center;
	text-decoration-line: underline;
	color: #047A9F;
}
.passOublier {
	padding-right : 10px;
	padding-left : 50%;
	padding-top : 20px;
	padding-bottom : 20px;
}

.passOublier > a:visited {
text-decoration-line: underline;
	color: #047A9F;
}
input[type="submit"] {
	background: darkblue;
	border-radius: 240px;
	color : white;
	border:none;
	font-size : 20px;
	padding: 5px;
	padding-left : 15px;
	padding-right : 15px;
	font-weight : 900;
}
.img_phone {
	transform: rotate(40deg);
}