.root {
    background-color: rgb(0,48,81);
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 0px;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Gothic-Bold", "sans-serif";
    font-weight: 700;
    cursor: pointer;
}
.img {
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #3585da;
    transform: rotate(40deg);
}
.img img {
    width: 15px;
    margin-right: 25px;
}
.text {
    color: #3585da;
    justify-content: center;
    align-items: center;
}
