<div class='root'>
	<h1 style="color: brown; text-align: center;">Mes Livres</h1>
    <div class="container">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="example" class="table table-striped row-border">
            	<thead>
                    <tr>
                        <th>titre</th>
                        <th>auteur</th>
                        <th>genre</th>
                        <th>action1</th>
                        <th>action2</th>
                    </tr>
                </thead>
                <tbody>
	                <tr *ngFor="let livre of livres" >
                        <td>{{ livre.titre }}</td>
                        <td>{{ livre.auteur }}</td>
                        <td>{{ livre.genre }}</td>
                        <td>
                        	<button type="button" class="btn btn-warning centered" (click)="modifClick.emit(livre)">
                        		<mat-icon>edit</mat-icon>
                        			Modifier
                        	</button>
                        </td>
                        <td>
                        	<button type="button" class="btn btn-danger centered" (click)="onDelete(livre.id)">
                        		<mat-icon>clear</mat-icon>
                        			Supprimer
                        	</button>
                        </td>
	                </tr>  
                </tbody>
            </table>
    </div>   
</div>